* {
    box-sizing: border-box
}


body {
    font-family: arial, sans-serif;
    margin: 0;
    background-image: url("/assets/Images/Blacksand.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(0, 0, 0, 0.4);
   
}

header {
    background-color: black;
    text-align: center;
    padding: 10px;
    border-bottom: 10px solid rgb(190, 162, 3);
    opacity: 70%;
    
}

h1 {
    color: rgb(190, 190, 190);
    font-family: copperplate;
    
}


nav ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    margin-right: 0;
    justify-content: space-evenly;
    list-style: none;
    color: rgb(190, 190, 190);
}

nav ul li a {
     padding: 10px;
    color: whitesmoke;
    
}

nav ul li a:hover {
    background-color: rgb(85, 84, 84);
    color: rgb(190, 162, 3);
    border-radius: 5px;

}

main {
    display: flex;
    align-items: flex-start;
  }

aside {
    flex: 1;
    width: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 50px;
    color: rgb(190, 190, 190);
}

aside h2 {
    margin-top: 125px;
    margin-bottom: 250px;
    
}

aside a {
    color: lightgray;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 70%;
    margin-top: 90px;
  }

.container {
    max-width: 1200px;
    margin: 40px auto;
}

section {
    flex: 3;
    padding: 20px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(209, 207, 207);
    
}

  p {
    width: 100%;
    background-color: rgb(128,128,128, 0.60);
    padding: 10px;
    border-radius: 15px;
   

  }

  h3 { 
    display:contents;
    width: 100%;
    background-color: rgb(128,128,128, 0.60);
    padding: 10px;
    border-radius: 15px;

 }

 ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }

 li {
    margin-bottom: 10px;
 }

 #about
 #work
 #contact-me {
    margin-bottom: 50px
 }

a img:hover {
    opacity: 80%;
}



a[href="https://www.linkedin.com/in/geoffereyeidem03/"] {
    color: rgb(207, 159, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

a[href="https://www.linkedin.com/in/geoffereyeidem03/"]:hover {
    color: blue;
}


/* Desktop screens */
@media screen and (min-width: 1200px) {

    aside {
      width: 30%;
    }
  
    .content {
      flex: 70%;
    }
  
  }
  
  /* Tablet screens */
  @media screen and (max-width: 1199px) and (min-width: 768px) {
  
    aside {
      width: 100%;
      margin-left: 0px;
    }
  
    .content {
      flex: 100%;
    }
  
  }
  
  /* Mobile screens */
  @media screen and (max-width: 767px) {
  
    aside {
      width: 100%;
      margin-left: 0;
    }
  
    /* Set content to be 100% width */
    .content {
      flex: 100%;
      margin-top: 30px;
    }
  
    section {
      margin: 20px 0;
    }

    aside h2 {
      margin-top: 50px;
      margin-bottom: 20px;
    }
  
  }
  